<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>백준지지</title>
    <link rel="stylesheet" href="problem.css">
    <link rel="stylesheet" href="nav.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap">
</head>

<body>
    <nav class="nav-main">

        <div OnClick="location.href ='index.html'" style="cursor:pointer;" class="nav-left">
            <img src="./img/임시로고.png" alt="Baekjoon GG Logo" class="site-logo" />
            <p style="float: right;">BAEKJOON.GG</p>
        </div>
        
        <div class="nav-mid">
            <a style="margin-left: 10%;" href="ranking.html" class="nav-link">랭킹</a>
            <a href="#" class="nav-link">문제</a>
            <a href="community.html" class="nav-link">커뮤니티</a>
            <a href="search.html" class="nav-link">프로필</a>
        </div>
        <div class="nav-right">
            <a href="signup.html" class="auth-link">사용자등록</a>
        </div>
    </nav>
    
    
    <div class="problem-wrap">
        <h1 class="problem-word">효원인이 풀지 않은 문제</h1>
        <div class="problem-left">
            <table style="width:100%; text-align: left;">
                <tr>
                    <th>문제번호</th>
                    <th>제목</th>
                    <th>난이도</th>
                    <th>맞힌사람</th>
                </tr>
                <tr>
                    <td>1000</td>
                    <td>A+B</td>
                    <td>브론즈</td>
                    <td>51212</td>
                </tr>
                <tr>
                    <td>1003</td>
                    <td>피보나치 함수</td>
                    <td>실버</td>
                    <td>9644</td>
                </tr>
            </table>
        </div>
        <div class="problem-right">
            <div class="problem-right-top">
                <span class="problem-title">초심자를 위한 문제</span>
                <table style="width:100%; text-align: left;">
                    <tr>
                        <th>문제번호</th>
                        <th>제목</th>
                        <th>난이도</th>
                        <th>맞힌사람</th>
                    </tr>
                    <tr>
                        <td>1000</td>
                        <td>A+B</td>
                        <td>브론즈</td>
                        <td>51212</td>
                    </tr>
                    <tr>
                        <td>1003</td>
                        <td>피보나치 함수</td>
                        <td>실버</td>
                        <td>9644</td>
                    </tr>
                    <tr>
                        <td>1000</td>
                        <td>A+B</td>
                        <td>브론즈</td>
                        <td>51212</td>
                    </tr>
                    <tr>
                        <td>1003</td>
                        <td>피보나치 함수</td>
                        <td>실버</td>
                        <td>9644</td>
                    </tr>
                    <tr>
                        <td>1000</td>
                        <td>A+B</td>
                        <td>브론즈</td>
                        <td>51212</td>
                    </tr>
                    <tr>
                        <td>1003</td>
                        <td>피보나치 함수</td>
                        <td>실버</td>
                        <td>9644</td>
                    </tr>
                </table>
            </div>
            <div style="margin-top: 30px;" class="problem-right-top">
                <span class="problem-title">효원인이 추천하는 문제</span>
                <table style="width:100%; text-align: left;">
                    <tr>
                        <th>문제번호</th>
                        <th>제목</th>
                        <th>난이도</th>
                        <th>맞힌사람</th>
                    </tr>
                    <tr>
                        <td>1000</td>
                        <td>A+B</td>
                        <td>브론즈</td>
                        <td>51212</td>
                    </tr>
                    <tr>
                        <td>1003</td>
                        <td>피보나치 함수</td>
                        <td>실버</td>
                        <td>9644</td>
                    </tr>
                    <tr>
                        <td>1000</td>
                        <td>A+B</td>
                        <td>브론즈</td>
                        <td>51212</td>
                    </tr>
                    <tr>
                        <td>1003</td>
                        <td>피보나치 함수</td>
                        <td>실버</td>
                        <td>9644</td>
                    </tr>
                    <tr>
                        <td>1000</td>
                        <td>A+B</td>
                        <td>브론즈</td>
                        <td>51212</td>
                    </tr>
                    <tr>
                        <td>1003</td>
                        <td>피보나치 함수</td>
                        <td>실버</td>
                        <td>9644</td>
                    </tr>
                </table>
            </div>
            
        </div>
    </div>
    <div class="graph">
        그래래애애ㅐ애프
    </div>
    <footer>
        <div class="update">
            <p>업데이트</p>
        </div>
        <div class="footer-info">
            <div style="margin-left: 15%;">
                <p style="color: #ABABAB;">부산광역시 금정구 부산대학로63번길 2 (장전동) 부산대학교 소프트웨어융합교육원</p>
                <p style="color: #ABABAB;">TEL : 051-123-4567, 321, 1026</p>
                <p style="color: #D9D9D9">Copyright© Pusan National Univ. All Right Reserved.</p>
                <p style="color: #ABABAB;">Powered by <span style="color: #350FC0;">OnlineJudge</span> Version: 1d496146f0d67811dc8f187eaebeccdae1277a98</p>
            </div>
        </div>
    </footer>
    
</body>

</html>